<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if session.user_id %}
    <nav class="navbar bg-light">
        <form class="container-fluid justify-content-start">
            <a class="btn btn-dark" href="/user" role="button">Omat lainat</a>
            <a class="btn btn-dark" href="/admin" role="button">Ylläpitö</a>
        </form>
      </nav>
    {% endif %}
    {% block content %}{% endblock %}
    {% if session.user_id %}
    <a class="btn btn-secondary" href="/logout" role="button">Kirjaudu ulos</a>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>