{% extends "base.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
      <form action="/frontpage" method="post">
        <select class="form-select" name="object">
            {% for row in available %}
            <option value=row>{{row[1]}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Lainaa</button>
    </form>
    </div>
    <div class="row">
      <div class="col-sm">
        {% for item in items1 %}
        <div class="row">{{item}}</div>
        {% endfor %}
      </div>
      <div class="col-sm">
        {% for item in items2 %}
        <div class="row">{{item}}</div>
        {% endfor %}
      </div>
      <div class="col-sm">
        {% for item in items3 %}
        <div class="row">{{item}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}