{% extends "base.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="container text-start">
  <div class="row">
    <form action="/frontpage" method="post">
      <div class="col">
        <select class="form-select" name="equipment">
          {% for row in available %}
          <option value={{row[0]}}>{{row[1]}}, {{row[2]}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Lainaa</button>
      </div>
    </form>
  </div>
  <div class="row row-cols-3 gap-1">
      <div class="col bg-success bg-opacity-10 border border-dark">
        <div class="row row-cols-3 bg-info bg-opacity-50 fw-bold">
          <div class="col">Tavara</div>
          <div class="col">Kuvaus</div>
          <div class="col">Varastossa</div>
        </div>
        {% for item in items1 %}
        <div class="row row-cols-3 border-bottom border-dark">
          <div class="col text-capitalize">{{item[0]}}</div>
          <div class="col">{{item[1]}}</div>
          <div class="col">{{item[3]}}</div>
        </div>
        {% endfor %}
      </div>
      <div class="col bg-light border border-dark">
        <div class="row row-cols-3 bg-info bg-opacity-50 fw-bold">
          <div class="col">Tavara</div>
          <div class="col">Kuvaus</div>
          <div class="col">Varastossa</div>
        </div>
        {% for item in items2 %}
        <div class="row row-cols-3 border-bottom border-dark">
          <div class="col text-capitalize">{{item[0]}}</div>
          <div class="col">{{item[1]}}</div>
          <div class="col">{{item[3]}}</div>
        </div>
        {% endfor %}
      </div>
      <div class="col bg-primary bg-opacity-10 border border-dark"">
        <div class="row row-cols-3 bg-info bg-opacity-50 fw-bold">
          <div class="col">Tavara</div>
          <div class="col">Kuvaus</div>
          <div class="col">Varastossa</div>
        </div>
        {% for item in items3 %}
        <div class="row row-cols-3 border-bottom border-dark">
          <div class="col text-capitalize">{{item[0]}}</div>
          <div class="col">{{item[1]}}</div>
          <div class="col">{{item[3]}}</div>
        </div>
        {% endfor %}
      </div>
  </div>

</div>
{% endblock %}