{% include "base.html" %}
<title>Rekisteröidy</title>
{% block content %}
<form action="/register" method="post">
    <div class="form-group">
        <label for="inputUsername">Käyttäjänimi</label>
        <input type="text" name="username" class="form-control" id="inputUsername" minlength="4" maxlength="15">
        <div id="usernameHelp" class="form-text">Pituus 4-15 merkkiä</div>
    </div>
    <div class="form-group">
        <label for="inputPassword1">Salasana</label>
        <input type="password" name="password1" class="form-control" id="inputPassword1" minlength="5" maxlength="20">
        <div id="passwordHelp" class="form-text">5-20 merkkiä</div>
    </div>
    <div class="form-group">
        <label for="inputPassword2">Salasana uudestaan</label>
        <input type="password" name="password2" class="form-control" id="inputPassword2" minlength="5" maxlength="20">
    </div>
    <button type="submit" class="btn btn-primary">Rekisteröi</button>
</form>
{% endblock %}
{% block error %}
{% endblock %}