{% extends "base.html" %}
{% block title %}Käyttäjän sivu{% endblock %}
{% block content %}
{% if session.user_id %}
<div class="container text-center">
    <div class="row">
        {{message}}
    </div>
    <form action="/user" method="post">
        <select class="form-select" name="object">
            {% for item in items %}
            <option value=item>{{item[0]}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Palauta tavara</button>
    </form>
    {% for item in items %}
        <div class="row">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">{{item[0]}}</li>
                <li class="list-group-item">{{item[1]}}</li>
            </ul>
        </div>
    {% endfor %}
  </div>
{% else %}
<button type="button" class="btn btn-info" href="/login">Kirjaudu sisään</button>
{% endif %}
{% endblock %}