{% extends "base.html" %}
{% block title %}Käyttäjän sivu{% endblock %}
{% block content %}
{% if session.user_id %}
<div class="container">
    <div class="row justify-content-start">
        {{message}}
    </div>
    <div class="row">
        <div class="col-6 bg-light border border-dark">
            {% for item in items %}
            <div class="row justify-content-start row-cols-2">
                <div class="col">
                    {{item[1]}}
                </div>
                <div class="col">
                    {{item[2]}}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-6">
            <form action="/user" method="post">
                <div class="input-group mb-2">
                    <button type="submit" class="btn btn-primary">Palauta tavara</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <select class="form-select" name="loan_id">
                        {% for item in items %}
                        <option value={{item[0]}}>{{item[1]}}, {{item[2]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<a class="btn btn-info" role="button" href="/">Kirjaudu sisään</a>
{% endif %}
{% endblock %}